<?xml version="1.0"?>
<!--
  Copyright 2026 Hasan Ahmed
  SPDX-License-Identifier: Apache-2.0
-->
<robot name="robotest" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="namespace" default="/robotest"/>
  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="enable_ground_truth" default="true"/>

  <xacro:property name="topic_namespace" value="$(arg namespace)"/>

  <xacro:include filename="robotest_properties.xacro"/>
  <xacro:include filename="robotest_inertials.xacro"/>
  <xacro:include filename="robotest_materials.xacro"/>
  <xacro:include filename="robotest_base.xacro"/>
  <xacro:include filename="robotest_sensors.xacro"/>
  <xacro:include filename="robotest_gazebo.xacro"/>

  <xacro:robotest_base/>
  <xacro:robotest_sensors/>

  <xacro:if value="$(arg use_gazebo)">
    <xacro:robotest_gazebo
      topic_namespace="${topic_namespace}"
      enable_ground_truth="$(arg enable_ground_truth)"/>
  </xacro:if>
</robot>
